body {
  
  background-color: #d0dfe8;
  
}

h1 {
	color: steelblue;
}

img {
	
	margin: 15px 15px 15px 15px;
	
}

.button {
    background-color: #e7e7e7; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 4px;
	border: 1.5px solid steelblue;
}

input {
	width: 15%;
	border: 1.5px solid steelblue;
	border-radius: 4px;
	
}

input:focus {
    border: 3px solid #555;
}

input[type=text] {
	
	padding: 6px 6px;
}

.highlight {
    background-color:#dcfac9
}

.resultpane {
	width: 50%;
	float: left;
}

.chartpane {
	width: 50%;
	float: right;
	
}

#error {
	color: red;
	font-size: 18px;
	font-weight: bold;
}

.area {
  fill: none;
}

.line {
  fill: none;
  stroke: #1C9A3D;
  stroke-width: 1.5px;
}

.firstline {
  fill: none;
  stroke: #404b76;
  stroke-width: 1.5px;
}

#chart-area {
  float: left;
  width: 70%;
}

.file {
	height: 25px;
	border: 0px;
	
}
.upload {
	background-color: steelblue;
	color: white;
	width: 8%;
}

.areatitle {
	
	font-size: 24px;
	
}
th, td {padding: 10px 10px 10px 10px;}

th, td {
    border-bottom: 1px solid steelblue;
}
tr:hover {background-color: #f5f5f5}

th {
    color: steelblue;
}

table {
	width: 50%;
}