<!DOCTYPE html>

<html>
	<title>HOME PAGE</title>
	<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
			<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
	</head>
	<body>
		<div style="display: inline-block">
		<img style="float: left" src="{{ url_for('static',filename='img/harvard2.png') }}"/>
			<h1 style="display: inline-block">CS207 Project: TimeSeries Analysis</h1><br>
			<h4 style="display: inline-block">Team jovhscript: Jack Qian, Omar Abboud, Virgile Audi, & Heidi Chen</h2>
		</div>
		<center>
		<h3>Time Series Search Engine</h3>
		<br>
		<p>Please select a search type below to begin.</p>
		<br>
		<br>
		<span> Search: 
    	<button class="button"> <a href='/simsearch'> Similarity Search</a></button>
    	<!--<button class="button"> <a href='/search_upload'> By Uploading</a></button>-->
    	<button class="button"> <a href='/meta'> Meta Data</a></button>
    	</span>
    </body>
</html>