<!DOCTYPE html>

<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  <script type=text/javascript>
    $(function() {
      $('a#requestTS').bind('click', function() {
        $.getJSON("/search_index/results", {
          id: $('input[name="Index"]').val(),
          n: $('input[name="Number"]').val()
        }, function(data) {
          $("#tss").text(data.result);
        });
        return false;
      });
    });
  </script>
	<title>Index Search</title>
</head>
	<body>
		<h1 style='color:blue'>Search by index !</h1>
		<p>
		Please enter the index of the timeseries you which to study:
		<br>
		<input type="text" size="5" name="Index">
		<input type="text" size="5" name="Number">
		<button><a href="javascript:void();" id="requestTS">Request</a></button>
		<br>
		<span id="tss">Results</span>
		</p>
		<br>
		<br>
		<button><a href="/" id="homebutton">Back Home</a></button>
    </body>
</html>