<!DOCTYPE html>

<html>
	<title>META SEARCH</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type=text/javascript  src="{{ url_for('static',filename='js/d3.min.js') }}"></script>
	<script type=text/javascript  src="{{ url_for('static',filename='js/d3.legend.js') }}"></script>
	 <script type=text/javascript  src="{{ url_for('static',filename='js/d3.tip.js') }}"></script>
	<body>
		
		<div style="display: inline-block; width: 100%">
		<img style="float: left" src="{{ url_for('static',filename='img/harvard2.png') }}"/>
			<h1 style="display: inline-block">CS207 Project: TimeSeries Analysis</h1><br>
			<h4 style="display: inline-block">Team jovhscript: Jack Qian, Omar Abboud, Virgile Audi, & Heidi Chen</h2>
		</div>
		<div class="resultpane">
		<center>
		<h3>Search Criteria</h3>
		<br>
		<h4>Search Time Series</h4>
		Request all time series metadata:
		<br>
		<br>
		<button class="button"><a href="javascript:void();" id="requestAll">Request All</a></button>
		<br>
		<br>
		Or Request a particular time series:
		<br>
		<br>
		ID
		<input type="text" size="5" name="Index" placeholder="Id">
		<button class="button"><a href="javascript:void();" id="requestTS">Request</a></button>
		<br>
		<br>
		<h4>Add a TimeSeries to the Database</h4>
		<form action="/meta/" id= 'postts' method="post" enctype = "multipart/form-data">
  			<input style="display: inline-block; width: 40%" class = "file" type="file" name="ts">
  			<button type="button" class="button" style="color: steelblue" id="submit_upload">Upload</button>
  			
		</form>
		<br>
		<br>
		<h4>Search TimeSeries by Filtering</h4>
		<br>
		Levels: <input type="text" size="6" name="levels" placeholder="A,B,C,...">
		<br>
		OR
		<br>
		Mean Range: <input type="text" size="5.5" name="mean_range" placeholder="1.0:1.6">
		<br>
		OR
		<br>
		Standard Deviation Range: <input type="text" size="6" name="std_range" placeholder="0.0:1.0">
		<button class="button"><a href="javascript:void();" id="requestFilter">Request</a></button>
		<br>
		<br>
		<button class="button"><a href="/" id="homebutton">Back Home</a></button>
		</center>
	</div>
	<div class="chartpane">
		<center><h3>Results</h3></center>
		<span id="tss"></span>
		<br>
		<br>
		<span id="tss2"></span>
		<span id="error"></span>

	</div>

    </body>
	<script type=text/javascript src= "{{ url_for('static',filename='js/meta.js') }}"></script>
</html>
